
.logo {
    width: 40px;
    height: 40px;
    padding: 4px;
}

.team-name {
    width: 350px;
    text-align: left;
}

.table{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-size: 15px;
    width: 80%;
    background-color: #3D195B;
    color: white;
    margin-left: 3em;
   
    
}

th {
    text-align: center;
   // border-spacing: .1em;
    text-align: left;
}

.normal {
    width: 80px;
}

.champion {
    width: 80px;
    background-color: blue;
}

.europa {
    width: 80px;
    background-color: darkorange;
}

.relegation {
    width: 80px;
    background-color: red;
}
