

.legend
{
  position: relative;
  margin-left: 8em;
  
  
}


// h1{
//   color: white;
//   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
//   font-weight: bolder;
//   font-size: 30px;
//   background-color: purple;
//   width: 200px;
//   height: 50px;
//   text-align: center;
//   margin-left:  1em;
//   line-height: 1.5;
// }